.axis {
	font-family: arial;
	font-size: 0.6em;
}

.tick {
	fill: none;
	stroke: black;
}

.tick line {
	visibility: hidden;
}

.line_plot {
	fill: none;
	stroke: #4eb0bb;
	stroke-width: 1px;
}

path {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}


.line-country path {
	fill: none;
	stroke: #37e;
	stroke-width: 2px;
	shape-rendering: geometricPrecision;
	opacity: 0.3;
}

.line-regions path {
	fill: none;
	stroke: #e73;
	stroke-width: 2px;
	shape-rendering: geometricPrecision;
	opacity: 0.3;
}

.legend-text, .legend-year {
	font-family: arial;
	font-size: 0.6em;
	font-weight: bold;
}

.legend-text-name {
	font-family: arial;
	font-size: 0.8em;
	font-weight: bold;
}