.axis {
	font-family: arial;
	font-size: 0.6em;
}

.tick {
	fill: none;
	stroke: black;
}

.tick line {
	visibility: hidden;
}

.line_plot {
	fill: none;
	stroke: #4eb0bb;
	stroke-width: 1px;
}

path {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}
